/*MEDIA QUERIES*/



/*MEDIA QUERIES INDEX*/

@media screen and (min-width: 480px){
    .container{
        flex-direction: row;
    }
}
@media screen and (min-width: 768px){
    .container{
        flex-direction: row;
    }
}

@media screen and (min-width: 992px){
    .container{
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px){
    .container{
        flex-direction: row;
    }
}@media screen and (min-width: 480px){
    .container{
        flex-direction: row;
    }
}
@media screen and (min-width: 768px){
    .container{
        flex-direction: row;
    }
}

@media screen and (min-width: 992px){
    .container{
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px){
    .container{
        flex-direction: row;
    }
}







/*MEDIA QUERIES NAVBAR PAGINAS*/
@media screen and (min-width: 480px){
    .nav-list{
        flex-direction: row;
    }
}
@media screen and (min-width: 768px){
    .nav-list{
        flex-direction: row;
    }
}

@media screen and (min-width: 992px){
    .nav-list{
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px){
    .nav-list{
        flex-direction: row;
    }
}



/*MEDIA QUERIES SOBRE NOSOTROS*/

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(255, 138, 226);
    padding: 10px;
    font-family: 'Montserrat', sans-serif;

    .caja-media{
        background-color: rgb(255, 255, 255);
        padding: 10px;
        height: 330px;
        width: 100%;
       
    
    }
    
   
}


@media screen and (min-width: 300px) {
    .media{
        background-color: $secondColor;
    }


}


@media screen and (min-width: 480px) {
    .media{
        background-color: $secondColor;
    }
    
}


@media screen and (min-width: 699px) {


      .media{
          background-color: $secondColor;
          flex-direction: row;
          
         
      }
      
  }



@media screen and (min-width: 768px) {

  .nav-list{ 
    flex-direction: row;
  }

    .media{
        background-color: $secondColor;
        
       
    }
    
}

@media screen and (min-width: 992px) {
    .media{
        background-color: $secondColor;
    }
    
}

@media screen and (min-width: 1200px) {
    .media{
        background-color: $secondColor;
    }
    
}



/*MEDIA QUERIES ZORA CIRCULAR*/

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(255, 138, 226);
    padding: 10px;

    .caja-media{
        background-color: rgb(255, 255, 255);
        padding: 10px;
        height: 330px;
        width: 100%;
       
    
    }
   
}




@media screen and (min-width: 300px) {
    .media{
        background-color: $secondColor;
    }


}



@media screen and (min-width: 480px) {
    .media{
        background-color: $secondColor;
    }
    
}


@media screen and (min-width: 699px) {


      .media{
          background-color: $secondColor;
          flex-direction: row;
          
         
      }
      
  }




@media screen and (min-width: 768px) {

  .nav-list{ 
    flex-direction: row;
  }

    .media{
        background-color: $secondColor;
        
       
    }
    
}

@media screen and (min-width: 992px) {
    .media{
        background-color: $secondColor;
    }
    
}

@media screen and (min-width: 1200px) {
    .media{
        background-color: $secondColor;
    }
    
}




/*MEDIA QUERIES CONTACT FORM*/
.contact-form form{
display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block{
    grid-column: 1 / 3;
}



@media (min-width: 576px) {
    body{
        padding:  0 4px;
    }
}

.contact-wrapper{
    display: grid;
    grid-template-columns: 2f 1fr;
}




@media (min-width: 768px) {
    body{
        padding:  0 4px;
    }
}

.contact-wrapper{
    display: grid;
    grid-template-columns: 2f 1fr;
}


@media (min-width: 992px) {
    body{
        padding:  0 4px;
    }
}

.contact-wrapper{
    display: grid;
    grid-template-columns: 2f 1fr;
}



@media (min-width: 1200px) {
    body{
        padding:  0 4px;
    }
}

.contact-wrapper{
    display: grid;
    grid-template-columns: 2f 1fr;
}