.titulocircular{
    display: flex;
    justify-content: center;
    text-align: center;
    color:black;
        font-weight: 400;
        margin: 10px;
    }
    
    
    
    .h4 {
        color: $secondColor;
    font-size: small;
    font-family: 'Montserrat', sans-serif;
    }
    
    
    
    .seguinos img{
        width: 30px;
        height: 30%;
      margin: 2%;
    }