
/*FOOTER*/


h2 {
    color: $secondColor;
font-size: small;
font-family: 'Montserrat', sans-serif;

    
}

/*LOGO INSTAGRAM*/
.insta {
    position: fixed;
    bottom: 2px;
    left: 2px;
    margin: 1%;
   
}

.insta img {
    width: 30px;
    height: 30%;
  margin: 2%;
  
}
